html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 980px;
  height: 80px;
  margin: 0 0 10px 0;
  background: #0055DD;
}

header h1 {
  margin: 0;
  padding-top: 20px;
  font-size: 30px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}

header h1 a {
color: #ffffff;
}

#content {
  width: 960px;
  padding: 0 0 0 40px;
}

#edit_ad, #new_ad {
  width: 870px;
}

.actions {
  padding-left: 20px;
}

footer {
  clear: both;
  width: 980px;
  height: 70px;
  margin: 20px 0 10px 0;
  padding: 10px 20px;
  background: #0055DD;
  color: white;
  text-align: center;
}

footer h6 a {
color: #ffffff;
}